apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx
          ports:
            - containerPort: 80

# kubectl apply -f deployments/nginx-deployment.yaml
# kubectl get deployments
# kubectl get replicasets
# kubectl get pods
# kubectl describe deployment nginx-deployment